Flask==2.1.0
gunicorn
Flask-SocketIO
eventlet==0.30.2
gevent-websocket
python-dotenv
pymongo
opencv-python
requests
numpy
cycler==0.11.0
fonttools==4.34.4
kiwisolver==1.4.4
opencv-contrib-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
