<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'common/head.html' %}
    <link rel="stylesheet" href="css/all-tours.css" />

    <title>All tours</title>
  </head>

  <body>
    {% include 'common/navbar.html' %}
    <main>
      <h1 class="title is-1">All tours</h1>

      {% if tours|length > 0 %} {% for tour in tours %}
      <div class="card tour mb-4">
        <!-- <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://source.unsplash.com/random/?nature"
              alt="Tour {{tour.tour_id}}"
            />
          </figure>
        </div> -->

        <div class="card-content">
          <a href="/tours/{{tour.tour_id}}">
            <p class="title is-4">{{tour.title}}</p>
            <p class="subtitle is-7"><code>{{tour.tour_id}}</code></p>
          </a>

          <div class="content mt-3">
            <p>{{tour.description}}</p>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <span
        >No tours have been created yet. Why not
        <a href="/capture">create one</a>?</span
      >
      {% endif %}
    </main>
  </body>
</html>
