<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'common/head.html' %}
    <link rel="stylesheet" href="css/all-tours.css" />

    <script src="./js/all-tours.js" defer></script>

    <title>All tours</title>
  </head>

  <body>
    {% include 'common/navbar.html' %}
    <main class="container is-max-desktop">
      <h1 class="title is-1">All tours</h1>

      <div class="columns is-multiline">
        {% if tours|length > 0 %} {% for tour in tours %}
        <div class="column is-one-quarter">
          <div class="card tour mb-5" id="{{tour.tour_id}}">
            {% if tour.files.video0|length > 0 %}

            <a href="/tours/{{tour.tour_id}}">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img
                    src="{{tour.files.video0}}"
                    alt="Tour {{tour.tour_id}}"
                  />
                </figure>
              </div>
            </a>
            {% endif %}

            <div class="card-content">
              <a href="/tours/{{tour.tour_id}}">
                <p class="title is-4">{{tour.title}}</p>
                <p class="subtitle is-7"><code>{{tour.tour_id}}</code></p>
              </a>
              <p class="is-7 pt-1">
                {{tour.timestamp.strftime('%B %d, %Y at %I:%M %p')}}
              </p>

              {% if tour.description|length > 0 %}
              <div class="content mt-3">
                <p>{{tour.description}}</p>
              </div>
              {% else %}
              <div class="content mt-3">
                <p class="has-text-grey">No description.</p>
              </div>
              {% endif %}

              <button
                class="button is-danger is-small"
                onclick='deleteTour("{{tour.tour_id}}")'
              >
                Delete tour
              </button>
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <span
          >No tours have been created yet. Why not
          <a href="/capture">create one</a>?</span
        >
        {% endif %}
      </div>
    </main>
  </body>
</html>
