<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    {% include 'common/head.html' %}

    <link rel="stylesheet" href="css/capture.css" />
    <script src="js/capture.js" type="module" defer></script>

    <title>Capture</title>
  </head>

  <body>
    {% include 'common/navbar.html' %}

    <main class="container is-max-desktop">
      <div class="columns is-mobile">
        <div class="column">
          <h1 class="title is-1">Capture a tour</h1>

          <div id="readings-container">
            <div class="notification is-danger" style="display: none">
              <span>Sensor API not available 🙁</span>
            </div>

            <p>Orientation:&nbsp; <span id="orientation"></span></p>
            <p>Acceleration: <span id="acceleration"></span></p>
            <p>Readings: <span id="readings"></span></p>

            <button
              class="button mt-2"
              onclick="startCapture()"
              id="start-button"
              disabled
            >
              Start capture
            </button>

            <button
              class="button mt-2"
              onclick="stopCapture()"
              id="stop-button"
              disabled
            >
              Stop capture
            </button>

            <div class="mt-3" id="video-container">
              <p><b>Video preview</b></p>
              <div class="loader mt-2" id="video-loader"></div>

              <video
                class="mt-1"
                id="video-preview"
                autoplay
                muted
                playsinline
              ></video>

              <span id="video-size"></span>
            </div>
          </div>

          <!-- File upload -->
          <form
            class="mt-4 box"
            method="post"
            enctype="multipart/form-data"
            action="/upload-data"
            id="data-form"
            style="display: none"
          >
            <!-- File -->
            <!-- <div id="file-input">
              <b>File inputs</b>
              <div class="my-3">
                <label class="file-label">
                  <input
                    class="file-input"
                    type="file"
                    name="files[]"
                    multiple
                  />
                  <span class="file-cta">
                    <span class="file-label">Select files</span>
                  </span>
                </label>
              </div>
              <div class="ml-5">
                <ol id="filenames"></ol>
              </div>
            </div> -->

            <!-- Other text info -->
            <div class="" id="text-input">
              <div class="field">
                <label class="label">Tour name *</label>
                <input
                  class="input"
                  type="text"
                  placeholder="Tour name"
                  name="title"
                  autocomplete="off"
                  id="tour-name"
                  value="{{default_name}}"
                  required
                />
              </div>
              <div class="field mt-3">
                <label class="label">Description</label>
                <textarea
                  class="textarea"
                  type="text"
                  placeholder="Description"
                  name="description"
                  autocomplete="off"
                ></textarea>
              </div>
            </div>

            <div>
              <button
                class="button mt-3"
                type="submit"
                id="submit-button"
                disabled
              >
                Upload
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
