<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    {% include 'common/head.html' %}

    <link rel="stylesheet" href="css/index.css" />

    <title>Meta Tour</title>
  </head>

  <body>
    {% include 'common/navbar.html' %}

    <section class="hero is-medium is-primary">
      <div class="hero-body">
        <h1 class="title is-1">
          Welcome to <span class="is-family-monospace">META-TOUR</span>
        </h1>
      </div>
    </section>

    <p class="p-5">
      Create and share interactive, tours from anywhere, powered by state-of-the
      art computer vision and mapping technology.
    </p>

    <img
      id="cover-image"
      src="https://source.unsplash.com/random/900×700/?nature"
      alt="Random cover image"
    />

    <main class="container is-max-desktop">
      <div class="columns">
        <div class="column">
          <a class="button is-fullwidth" href="/capture">Create a tour</a>
        </div>
        <div class="column">
          <a class="button is-fullwidth" href="/tours">View tours</a>
        </div>
        <div class="column">
          <a
            class="button is-fullwidth"
            href="https://youtu.be/dQw4w9WgXcQe"
            target="_blank"
          >
            Download the app
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
