<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    {% include 'common/head.html' %}

    <title>All tours</title>

    <link rel="stylesheet" href="css/single-tour.css" />
    <script src="js/single-tour.js" defer></script>
  </head>

  <body>
    <main class="container is-max-desktop">
      <h1 class="title is-1">View this tour</h1>

      {% if user_tour is not none %}
      <span>{{user_tour}}</span>
      {% else %}
      <article class="message is-danger container">
        <div class="message-body">
          <span>This tour was probably removed.</span>
        </div>
      </article>
      {% endif %}
    </main>
  </body>
</html>
