<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    {% include 'common/head.html' %}

    <title>View tour</title>

    <link rel="stylesheet" href="css/single-tour.css" />
    <script src="js/single-tour.js" defer></script>
  </head>

  <body>
    {% include 'common/navbar.html' %}
    
    <main class="container is-max-desktop">
      <h1 class="title is-1">{{tour.data.title}}</h1>
      <p class="subtitle">{{tour.data.description}}</p>

      {% if tour is not none %}
      <p><b>Tour ID</b></</p>
      <p><code>{{tour.tour_id}}</code></p>
      <br>

      <p><b>Data</b></p>
      <code>{{tour.data}}</code>

      {% else %}
      <article class="message is-danger container">
        <div class="message-body">
          <span>This tour was probably removed.</span>
        </div>
      </article>
      {% endif %}
    </main>
  </body>
</html>
